<p id="notice"><%= notice %></p>

<div class = "books">
  <h1>Listing Books</h1>

  <table>
    <tbody>
      <% @books.each do |book| %>
        <div class =  "book">

          <p>
            <%= image_tag book.picture if book.picture? %>
          </p>

          <p>
            <strong>Title:</strong>
            <%= book.title %>
          </p>

          <p>
            <strong>Publish date:</strong>
            <%= book.publish_date %>
          </p>

          <p>
            <strong>Author:</strong>
            <%= book.author %>
          </p>

          <p>
            <strong>Number page:</strong>
            <%= book.number_page %>
          </p>

          <p>
            <strong>Category:</strong>
            <%= book.category %>
          </p>

          <p>
            <%= link_to_if current_user, 'Show', admin_book_path(book) %>
            <% if current_user.role == "admin" %>
              <%= link_to 'Edit', edit_admin_book_path(book) %>
              <%= link_to 'Destroy', admin_book_path(book), method: :delete,
                data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p>

        </div>
      <% end %>
    </tbody>
  </table>

<br>

<% if current_user.role == "admin" %>
  <%= link_to 'New Book', new_admin_book_path %>
<% end %>
</div>