<p id="notice"><%= notice %></p>

<div class = "books">
  <p>
    <%= image_tag @book.picture %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= @book.publish_date %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @book.author %>
  </p>

  <p>
    <strong>Number page:</strong>
    <%= @book.number_page %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @book.category %>
  </p>

  <div class="reviews">
    <h4 id="reviews-count">This book has <%= pluralize(@book.reviews.count, 'review') %></h4>
   
    <div>
    <%= render 'reviews/review_form' %>
    </div>
  </div>
 
  <div id="reviews-list">
    <%= render partial: @book.reload.reviews %>
    <% if current_user.role == "admin" %>
      <%= link_to 'Edit', edit_admin_book_path(@book) %> |
      <%= link_to 'Back', admin_books_path %>
    <% end %>
  </div>
</div>
