<div class = "books">
  <table>
    <th>
      <p>
        <%= image_tag @book.picture if @book.picture? %>
      </p>
    </th>
    <th>
      <p>
        <strong>Title:</strong>
        <%= @book.title %>
      </p>

      <p>
        <strong>Publish date:</strong>
        <%= @book.publish_date %>
      </p>

      <p>
        <strong>Author:</strong>
        <%= @book.author %>
      </p>

      <p>
        <strong>Number page:</strong>
        <%= @book.number_page %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @book.category %>
      </p>
    </th>
  </table>

<div>
  <p>You are <%= label_tag @state %> this book</p>
  <% if @state == "read" %>
    <%= render partial: 'read_states/mark_read', locals: {message: "reading"} %>
  <% elsif @state == "reading" %>
    <%= render partial: 'read_states/mark_read', locals: {message: "read"} %>
  <% else %>
    <%= render partial: 'read_states/mark_read', locals: {message: "reading"} %>
    <%= render partial: 'read_states/mark_read', locals: {message: "read"} %>
  <% end %>
</div>

  <h4 id="favourites-count">This book has <%= pluralize(@book.favourites.count, 'favourites') %></h4>

  <% if current_user %>
    <div id="favourite_form">
    <% if current_user.has_favourite? @book %>
      <%= render 'favourites/unfavourite' %>
    <% else %>
      <%= render 'favourites/favourite' %>
    </div>
    <% end %>
  <% end %>

  <div class="reviews">
    <h3 id="reviews-count">This book has <%= pluralize(@book.reviews.count, 'review') %></h3>
   
    <div>
      <%= render 'reviews/review_form' %>
    </div>
 
    <div id="reviews-list">
      <%= render partial: @book.reload.reviews %>
    </div>
  </div>
</div>
