<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @book.publish_date %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Number page:</strong>
  <%= @book.number_page %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @book.picture %>
</p>

<div class="col-md-8">
  <% if @book.reviews.any? %>
    <h3>Reviews (<%= @book.reviews.count %>)</h3>
      <%= render @reviews %>
    <%= will_paginate @reviews %>
  <% end %>
</div>

<%= render 'shared/review_form' %>

<%= link_to 'Back', books_path %>
