<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div id="header">
  <div id="logo"><a href="/"><%= image_tag("images/logo.png") %></a></div>
  <form method="post" enctype="multipart/form-data">
    <div id="language">Language                  
      <%= image_tag("image/gb.png") %>  
      <%= image_tag("image/es.png") %>  
      <%= image_tag("image/de.png") %>  
      <input name="language_code" value="" type="hidden">
      <input name="redirect" value="/" type="hidden">
    </div>
  </form>
  <form method="post" enctype="multipart/form-data">
    <div id="currency">Currency                
      <a title="Euro">€</a>
      <a title="Pound Sterling">£</a>
      <a title="US Dollar"><b>$</b></a>
      <input name="currency_code" value="" type="hidden">
      <input name="redirect" value="/" type="hidden">
    </div>
  </form>
  <div id="cart">
  <div class="heading">
    <h4>Shopping Cart</h4>
    <a><span id="cart-total">0 item(s) - $0.00</span></a></div>
  <div class="content">
        <div class="empty">Your shopping cart is empty!</div>
      </div>
</div>  <div id="search">
    <div class="button-search"></div>
    <input name="search" placeholder="Search" type="text">
  </div>
  <div id="welcome" >
    <div id="user_nav">    
      <% if !user_signed_in? %>         
        Welcome visitor you can <%= link_to "log in", new_user_session_path %> or <%= link_to "create an account", new_user_registration_path %>         
      <% else %>
        Welcome my friend <%= current_user.email %>.
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
      <% end %>    
    </div>
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="#">Wish List (0)</a>
    <%= link_to "My Account", current_user %>
    <a href="#">Shopping Cart</a>
    <a><%= link_to "All Book", books_path %></a>
    <a><%= link_to "Manage Book", admin_books_path %></a>
  </div>

<div id="menu">
  <ul style="display: block;">
    <li><a href="#">AUDIOBOOKS</a>
      </li>
    <li><a href="#">e-books</a>
      </li>
    <li class="arrow_down"><a href="#">BOOKS</a>
      <div style="">
        <ul style="">
          <li><a href="#">Barnes &amp; Noble Classics (0)</a></li>
          <li><a href="#">Customer Favorites (0)</a></li>
          <li><a href="#">Recommended (0)</a></li>
        </ul>
      </div>
    </li>
    <li><a href="#">TEXTBOOKS</a></li>
    <li><a href="#">BUSINESS</a></li>
    <li><a href="#">Magazines</a></li>      
  </ul>
</div>
</div>