<!DOCTYPE html>
<html>
<head>
  <title>brs_4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://template-preview.com/opencart/300111402/image/data/cart.png" rel="icon">
  <script type="text/javascript" src="/assets/jquery-1.js"></script>
  <script type="text/javascript" src="/assets/jquery-ui-1.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.css">
  <script type="text/javascript" src="/assets/common.js"></script>

  <script type="text/javascript" src="/assets/jcarousellite.js"></script>
  <script type="text/javascript"> $(function() { $(".carousel").jCarouselLite({ btnNext: ".next", btnPrev: ".prev" }); }); </script>

  <script type="text/javascript">
    $(document).ready(function() {
      /*SOCIAL*/    
      $('div.social a').animate({'opacity':'0.5'}, 50);
      $('div.social a').hover( 
      function(){
        $(this).animate({'opacity':'1'}, 200);
      }, function(){
        $(this).animate({'opacity':'.5'}, 200);           
      });
        
      $(window).load(function() { 
        $('#menu ul').fadeIn(120);
      })
      
      $('.box-product ul li > div, .product-grid > div, .box-product > div').hover( 
      function(){
        $(this).find('.open_content').fadeIn(300);
      }, function(){
        $(this).find('.open_content').fadeOut(200);
      });

      $('#menu ul li').has('div').addClass('arrow_down');
      $('.box-category > ul > li').has('ul').addClass('cat_arrow_down');
      $('.box-product > div:last').css({'margin-right':'0'});
      $('body').has('.phone').addClass('homa');

      $(window).load(function() { 
        $('#content').wrapInner(document.createElement('span'));
        $("#content > span > .breadcrumb + h1").insertBefore("#content > span");
      })
    });
  </script> 
  <%= render "layouts/shim" %>
</head>

<body>
<div class="bg_bottom">
<div class="bg_top">
<div id="container">
  <%= render "layouts/header" %>
  <div id="notification"></div>
  <%= yield %>
</div><!--   END  container  -->
<%= render "layouts/footer" %>
</div> <!--end bg_top-->
</div> <!--end bg_bottom-->
</body>
</html>
